.header {
    background-color: #5E50A1;
    height: 35vh;

}

.companyProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -100px;
}

.bodyContent {
    background-color: white;
    min-height: 200vh;
}

.CardContent {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.spasi {
    margin-right: 25px;
}

.lineSpacing {
    margin-top: 20px;
}

.photoUser {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* margin-left: 30%; */
}

.userName {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.userPosition {
    color: #9EA0A5;
    margin-left: 10px;
}

.location {
    margin-top: -10px;
    margin-left: 10px;
}

.imgLocation {
    margin-top: -10px;
    margin-left: -4px;
}

.userLocation {
    color: #9EA0A5;
    margin-left: 10px;
}

.description {
    color: #9EA0A5;
    margin-left: 10px;
    width: 60%;
    text-align: center;
}

.buttonSave {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background-color: #5E50A1;
    border: none;
    color: white;
    margin-top: 20px;
}

.iconSosmed {
    text-align: left;
    margin-top: 30px;
}

.listSosmed {
    margin-bottom: 20px;
}